$primary-text-color: #757575;
$title-text-color: #212121;
$accent-blue-color: #2196f3;
$accent-white-color: #ffffff;
$primary-page-bg-color: #ffffff;
$secondary-page-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;
$main-icon-color: #afb1b8;
